@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.cuadro {
    text-align: center;
    background-color: #aeba85;
    margin-top: 0%;
    margin: 0 auto; /* Centra el contenedor en la página */
    height: 15rem;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    font-family: "Montserrat";

}

.cuadro .item{
    width: 20em;

}
.text-body-nosotros {
    color: white;
    font-family: "Montserrat";
   }
   
   /*Text*/
   .text-title-nosotros {
    font-family: "Montserrat";
    font-size: 1.5em;
    font-weight: bold;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    
   }

