.container-lan .img {
    width: 140vh;
    height: 85vh;
    border-radius: 0px;
    margin: 0 auto;
    background-image: url('/senderismo-1.jpg');
    background-size: cover;
    flex-basis: 200;
    
  }

  .container-lan {
    display: flex;
    flex-wrap: wrap;
  }


.container-lan .column  .card {
    max-width: 240px;
    max-height: 190px;
    border-radius: 15px;
    background: #f5f5f5;
    border: 2px solid #c3c6ce;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    
    
   }
   
   

   
.text-body {
    color: rgb(134, 134, 134);
    font-style: italic;
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Montserrat";
    
   }
   
   /*Hover*/
   .container-lan .column .card:hover {
    border-color: rgb(28, 108, 48);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }

   .container-lan .column {
    background-color: #8c8884;
    flex-grow: 1;
    flex-basis: 200;
   }
   
   .container-lan .column .card:hover .card-button {
    opacity: 1;
   }
