.container-lan .img {
    width: 140vh;
    height: 85vh;
    border-radius: 0px;
    margin: 0 auto;
    background-image: url('../../../../public/senderismo-1.jpg');
    background-size: cover;
    
  }


.container-lan .column  .card {
    width: 240px;
    height: 190px;
    border-radius: 15px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
.container-lan .column   .card-details {
    color: #212121;
    height: 100%;
    width: 100%;
    gap: .1em;
    display: grid;
    place-content: center;
   }
   

   
.text-body {
    color: rgb(134, 134, 134);
    font-style: italic;
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Montserrat";
    
   }
   
   /*Hover*/
   .container-lan .column .card:hover {
    border-color: rgb(28, 108, 48);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }

   .container-lan .column {
    background-color: #8c8884;
   }
   
   .container-lan .column .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }
