/* ShowAlerta.css */
.alert-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta según tus necesidades */
  }
  
  .alert-card {
    background-color: red;
    color: white;
    border-radius: 8px;
    width: 400px; /* Ajusta según tus necesidades */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .alert-header {
    text-align: center;
    padding: 10px;
  }
  
  .alert-title {
    margin: 0;
  }
  
  .alert-content {
    padding: 10px;
    text-align: left;
  }
  
  .alert-footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
  }
  