.container-mainpage{
        display: flex; /* Utiliza un contenedor flex para alinear las columnas */
        max-width: 100%; /* Ancho máximo del contenedor */

}

 .item1 {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    max-width: 33.33vw;
}

.item2 {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    max-width: 33.33vw;
}

.item3 {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 100px;
    max-width: 33.33vw;

}

.text-hi {
    color: white;
}

.elementos {
    text-align: center;
    justify-content: center;
    position: relative;
  }

.elementos-column3 {
    text-align: center;
    justify-content: center;
    position: relative;
    width: 50%;
  }
  
  .titulo1 {
    background-color: rgb(51, 139, 79);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px; /* Ajusta el margen según sea necesario */
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
  .rectangulo1 {
    width: 325px; /* Ajusta el ancho según sea necesario */
    height: 400px; /* Ajusta la altura según sea necesario */
    background-color: rgb(51, 139, 79);
    border-radius: 10px;
    /* Otros estilos según sea necesario */
  }

  .titulo2 {
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px; /* Ajusta el margen según sea necesario */
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
  .rectangulo2 {
    width: 325px; /* Ajusta el ancho según sea necesario */
    height: 400px; /* Ajusta la altura según sea necesario */
    background-color: red;
    border-radius: 10px;
    /* Otros estilos según sea necesario */
  }

  .rectangulos-pequenos {
    margin-top: 10px; /* Ajusta el margen entre los rectángulos pequeños */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-main {
    width: 100%;
    max-width: 290px;
    height: 70px;
    background: #353535;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;
    margin-top: 10px;
    margin-bottom: 1px;
    background-color: white;
  }
  
  
  
  .textBox {
    width: calc(100% - 90px);
    margin-left: 10px;
    color: black;
    font-family: 'Poppins' sans-serif;
  }
  
  .textContent {
    display: flex;
    width: 130%;
    justify-content: space-between;
    height: 30px;
  }
  
  .span-main {
    margin-top: 5px;
    font-size: 10px;
  }
  
  .h1-main {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .p-main {
    font-size: 12.5px;
    font-weight: lighter;
    margin-top: 0;
    margin-left: -15px;
  }

  .titulo-pulseras {
    margin-left: 40%;
    width: 220px;
    background-color: gray;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px; /* Ajusta el margen según sea necesario */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.image-container {
    margin-bottom: 20px;
    width: 300px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
    border-radius: 10px;
    background-image: url('../../assets/mapa.jpeg');
    background-size: cover;
    margin-left: 10%;
    margin-top: 20%;

}

.container-mainpage .item2 .elementos .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el objeto de la imagen para cubrir el contenedor */
}