.container-actividad{
    display: flex; /* Utiliza un contenedor flex para alinear las columnas */
    max-width: 100%; /* Ancho máximo del contenedor */
    justify-content: center;
    align-items: center;

}
 .elementos-actividad {
text-align: center;
justify-content: center;
position: relative;
width: 35em;
align-items: center;
margin-top: 2%;

}

.container-titulo-actividad {
    display: flex; /* Utiliza un contenedor flex para alinear las columnas */
    justify-content: center;
    align-items: center;
}

.titulo-actividad {
    background-color: rgb(51, 139, 79);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px; /* Ajusta el margen según sea necesario */
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 60%;
    font-size: 1.2em;
}

.container-actividad .elementos-actividad .rectangulos-pequenos {
    margin-top: 5px; /* Ajusta el margen entre los rectángulos pequeños */
    display: flex;
    flex-direction: column;
    align-items: center;
  }