.column {
    flex: 1; 
    padding: 5%; /* Añade un espacio interno a las columnas para separar el contenido del borde */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total de la columna */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container {
    display: flex; /* Utiliza un contenedor flex para alinear las columnas */
    max-width: 100%; /* Ancho máximo del contenedor */
    margin: 0; /* Centra el contenedor en la página */
    position: relative;
}

body, html {
    margin: 0;
    padding: 0;
  }
  