@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.card_user {
    width: 300px;
    height: 120px;
    background: #ffff;
    box-shadow: 0 1px 25px rgba(85, 84, 84, 0.2);
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
    /* top: 50%;
    left: 50%; */
    padding: 12px 10px;
}

.card_load {
    width: 85px;
    height: 85px;
    position: relative;
    float: left;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
    40%, #e5e5e5 48%);
    border-radius: 50%;
    background-size: 200% 100%;
    background-position: 100% 0;
    color: #212121;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.card_load_extreme_title {
    width: 180px;
    height: 40px;
    position: relative;
    float: right;
    border-radius: 5px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
    40%, #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: #212121;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: 'Montserrat', sans-serif;
}

.card_load_extreme_descripion {
    width: 180px;
    height: 40px;
    position: relative;
    float: right;
    border-radius: 5px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
    40%, #e5e5e5 48%);
    margin-top: 10px;
    background-size: 200% 100%;
    background-position: 100% 0;
    color: #212121;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: 'Montserrat', sans-serif;
}

@keyframes load89234 {
    100% {
        background-position: -100% 0;
    }
}